.matriculas {
    text-align: right;
}

.edicao {
    display: flex;
    button {
        margin-left: 1rem;
    }
}

table {
    margin: 2rem 0;
    font-size: 1.25rem;
}

.tr-tabela {
    text-align: left;
}

th, td {
    padding: 0.5rem 2rem 0.5rem 0;
    border-collapse: collapse; 
    border-bottom: 1px solid var(--cor-principal);
}